
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
smart-report.html
test-history.json
reports/playwright-report/
package-lock.json
yarn.lock

# Environment and sensitive files
.env
auth.json
*.log

# IDE
.vscode/
.idea/
.preettier-vscode/
