
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/traces/
smart-report.html
**/smart-report.html
test-history.json
reports/playwright-report/
package-lock.json
yarn.lock
testLabelLogs/
reports/

# Environment and sensitive files
.env
auth.json
*.log

# Debug artifacts
debug_label.pdf

# IDE
.vscode/
.idea/
.preettier-vscode/
